h1,
h2,
h4 {
  font-family: "Lobster Two", cursive, serif;
}

p,
h5 {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

header {
  background-image: url("../images/providence-doucet-wPaBwop_rSo-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

body {
  background-color: antiquewhite;
}

.navbar {
  background-color: rgb(107, 49, 49);
}

.content {
  border-bottom: 1px ridge rgb(184, 184, 184);
}

p {
  font-size: 1.25rem;
}

.bio-image {
  background-repeat: no-repeat;
  min-height: 900px;
  height: fit-content;
}

#claudia {
  background-image: url("/images/IMG_1148.JPG");
  background-position: 80% 20%;
}

#bob {
  background-image: url("/images/IMG_1181.JPG");
  background-position: 32% 10%;
}

#ross {
  background-image: url("/images/20181216_161358.jpg");
  background-position: 95% 38%;
}

.bio-text {
  color: white;
  background: rgba(0, 0, 0, 0.85);
  min-height: 900px;
  height: fit-content;
  overflow: auto;
}

.music-card {
  padding: 5px;
  border: 1px solid rgb(107, 49, 49);
}

.card-footer {
  background-color: white;
}

.btn-music {
    color: black;
}

.btn-music:hover {
    opacity: 0.5;
}

.btn-login:hover {
  opacity: 0.8;
  color: white;
}

.header {
  background-color: rgb(107, 49, 49);
  color: white;
}

#carouselExampleSlidesOnly {
  padding: 1rem;
  border: 1px solid rgb(184, 184, 184);
}

.close {
  color: white;
  opacity: 1;
}

.close:hover {
  color: white;
  opacity: 0.7;
}

.link-card {
  max-width: 363px;
}

@media only screen and (max-width: 1454px) {
  #claudia {
    background-image: url("/images/IMG_1148.JPG");
    background-position: 80% 20%;
  }
  
  #bob {
    background-image: url("/images/IMG_1181.JPG");
    background-position: 38% 10%;
  }
  
  #ross {
    background-image: url("/images/20181216_161358.jpg");
    background-position: 85% 38%;
  }
}

@media only screen and (max-width: 1200px) {
  #ross {
    background-image: none;
    height: fit-content;
  }

  #claudia {
    background-image: none;
    height: fit-content;
  }

  #bob {
    background-image: none;
    height: fit-content;
  }

  .bio-text {
    min-height: 0;
  }

  .bio-image {
    height: fit-content;
  }
}

@media only screen and (max-width: 767px) {
  .light-background {
    background-color: rgba(250, 235, 215, 0.5);
    width: auto;
    border-bottom: 1px solid rgb(107, 49, 49);
  }
}