h1, h2 {
    font-family: 'Lobster Two', cursive, serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

header {
    background-image: url("../images/providence-doucet-wPaBwop_rSo-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

body {
    background-color: antiquewhite;
}

.navbar {
    background-color: rgb(107, 49, 49);
}

.content {
    border-bottom: 1px ridge rgb(184, 184, 184);
}

.content p {
    font-size: 1.25rem;
}