h1, h2, h4 {
    font-family: 'Lobster Two', cursive, serif;
}

p, h5 {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

header {
    background-image: url("../images/providence-doucet-wPaBwop_rSo-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

body {
    background-color: antiquewhite;
}

.navbar {
    background-color: rgb(107, 49, 49);
}

.content {
    border-bottom: 1px ridge rgb(184, 184, 184);
}

p {
    font-size: 1.25rem;
}

.bio-image {
    background-repeat: no-repeat;
    height: 900px;
}

#claudia {
    background-image: url("/images/IMG_1148.JPG");
    background-position: 80% 20%;
}

#bob {
    background-image: url("/images/IMG_1181.JPG");
    background-position: 32% 10%;
}

#ross {
    background-image: url("/images/20181216_161358.jpg");
    background-position: 95% 38%;
}

.bio-text {
    color: white;
    background: rgba(0, 0, 0, 0.75);
    height: 900px;
    overflow: auto;
}

@media only screen and (max-width: 1200px) {
    #ross {
        background-image: none;
    }

    #claudia {
        background-image: none;
    }

    #bob {
        background-image: none;
    }

    .bio-text {
        height: 700px;
        border-radius: .25rem;
    }

    .bio-image {
        height: auto;
    }
}